{% extends 'base.html' %}

{% block content %}
{% load static %}
{% include 'navbar.html' %}
<style>
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .container .information {
        position: sticky;
        top: 25vh;
        grid-row: span 1;
        display: grid;
        place-items: center;
        align-self: self-start;
    }

    .container .information h1 {
        font-size: 2em;
        padding: 0 2rem 0 2rem;
    }

    .container .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
        align-items: center;
        grid-auto-flow: dense;
        margin: 2rem 2rem 10rem 0;
    }

    .gallery-image-container {
        position: relative;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    .gallery-image-container img {
        height: auto;
        width: 100%;
        object-fit: contain;
        max-height: 90vh;
    }

    .gallery .tall {
        grid-row: span 1;
    }

    .gallery .wide {
        grid-column: span 2;
    }

    #title {
        font-family: Open Sans, sans-serif;
        font-size: 100px;
        line-height: 100px;
        font-weight: 400;
        text-align: center;
        letter-spacing: 18px;
        margin-left: 18px;
        margin-bottom: 0;
        color: #131516;
        cursor: pointer;
    }

    .information a {
        text-decoration: none;
    }

    #subtitle {
        letter-spacing: 12px;
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 200;
        margin: 0 0 0 8px;
        padding: 0;
    }

    #album-name {
        font-family: Playfair Display, serif;
        font-size: 3em;
        text-align: center;
    }

    #description {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        font-style: italic;
        color: rgb(117, 117, 117);
        font-size: 20px;
    }

    img {
        transition: opacity 1000ms, transform 200ms;
    }

    .zoom-btn {
        cursor: pointer;
        top: 13px;
        right: 23px;
        position: fixed;
        padding: 20px;
        z-index: 999;
        width: 20px;
        height: 20px;
    }

    .close-btn {
        position: fixed;
        cursor: pointer;
        top: 13px;
        left: 20px;
        width: 20px;
        height: 20px;
        padding: 20px;
        z-index: 999;
    }

    .close-btn .line {
        background-color: white;
        width: 25px;
        height: 3px;
        margin-bottom: 5px;
    }

    #close-line-1 {
        transform: translateY(8px) rotate(45deg);
    }

    #close-line-2 {
        transform: translateY(-0px) rotate(-45deg);
    }

    @media only screen and (max-width: 1000px) {
        .container {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
        }

        .container #subtitle {
            font-size: 1.1em;
        }

        .container .information {
            font-size: smaller;
            top: 0;
            position: relative;
            height: auto;
            margin: 0 0 0 0;
            padding: 0 1rem 0 1rem;
            z-index: 0 !important;
        }

        .container .gallery {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            margin: 2rem 2rem 10rem 2rem;
        }

        .gallery .tall {
            grid-column: span 1;
        }

        .gallery .wide {
            grid-column: span 1;
        }
        #title {
            margin-top: 2rem;
        }
    }
</style>

<!-- <div onclick="" class="lightbox" id="lightbox">
    <img onclick="zoomImg()" src="{% static 'logos/zoom.png' %}" alt="zoom button" class="zoom-btn" />
    <div class="close-btn" onclick="closeLightbox()">
        <div class="line" id="close-line-1"></div>
        <div class="line" id="close-line-2"></div>
    </div>
    <div id="box" class='lightbox-image-container'></div>
</div> -->

<div class="container">
    <div class="information">
        <a href="/">
            <h1 id="title">FB</h1>
        </a>
        <h1 id="subtitle">Photographer</h1>
        <h1 id="album-name">{{albumName}}</h1>
        <p id="description">{{album.description}}</p>
    </div>
    <div class="gallery">
        {% for image in images %}
        <div class="gallery-image-container">
            <img class="gallery-image" style="opacity: 0"
                onclick="openLightbox({{forloop.counter0}})" data-src="{% static image.thumb %}"
                src="" alt="" 
                {% if forloop.counter < 5 %} 
                    data-visible="1" 
                {% else %}
                    data-visible="0" 
                {% endif %} />
        </div>
        {% endfor %}
    </div>
    <div id="lightbox" class="lightbox"></div>
</div>
<script>
function openLightbox(e) {
    console.log(e)
}

</script>

{% endblock content %}